/.hgignore

/*.suo

/*.user

/.hg/*

*/obj/*

*/bin/*

.sonar
/TestResults
*.dll

_NCrunch_SepaWriter/*

.vs/*

packages/log4net.*/*
packages/NUnit.*/*
*.ncrunchsolution
*.ncrunchproject